.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #003049;
  padding: 30px 0px;
}

.header-title {
  font-weight: 700;
  font-size: 27px;
  color: #EAE2B7;
}

.basket {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basket:hover {
  cursor: pointer;
}

.basket-icon {
  width: 25px;
  height: 25px;
}

.basket-text {
  color: #FFFFFF;
}