.product-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px;
}

.product-img {
  border-radius: 20px;
}

.product-title {
  font-weight: 700;
  margin: 3px;
  font-size: 27px;
}

.product-ingredient-list {
  min-height: 150px;
}

.product-ingredient {
  width: fit-content;
  height: fit-content;
  background-color: #ccc;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 3px;
}

.product-price {
  margin: 20px 3px 3px;
  font-size: 27px;
}

.product-btn {
  text-align: center;
  font-weight: 700;
  background-color: #ff9114;
  padding: 25px;
}

.product-btn:hover {
  cursor: pointer;
  background-color: #ee9114;
}